/*.container{
    display: flex;
    height: 625px;
    width: 1328px;
    border: 4px solid grey;
    background-color: black;
}*/
    
body{
 background-color: black;      
}

.rain{
    color: blueviolet;
    height: 50px;
    width: 50px;
    border: 0px solid white;
   margin: 5px;
    float: left;
    display: flex;
   
 }
 hr{
    background-color: rgb(0, 220, 255);
    width: 2px;    
    border: 0px;
    }
#rain1{
   position: relative;
   top: 300px;
   left: 10px;
   animation-name: rain1;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-direction:normal;
   animation-timing-function: ease-in-out;
}
@keyframes rain1{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain2{
    position: relative;
    left: 60px;
    top: 500px;
    animation-name: rain2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain2{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain3{
    position: relative;
    top: 562px;
    left: 200px;
    animation-name: rain3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain3{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain4{
    position: relative;
    top: 362px;
    left: 10px;
    animation-name: rain4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain4{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain5{
    position: relative;
    top: 430px;
    left: 100px;
    animation-name: rain5;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
    
}
@keyframes rain5{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain6{
    position: relative;
    top: 558px;
    left: 156px;
    animation-name: rain6;
    animation-duration: 3.7s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain6{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain7{
    position: relative;
    top: 385px;
    left: 182px;
    animation-name: rain7;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain7{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain8{
    position: relative;
    top: 562px;
    left: 200px; 
    animation-name: rain8;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;    
}
@keyframes rain8{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain9{
    position: relative;
    top:450px ;
    left: 250px;
    animation-name: rain9;
    animation-duration: 3.9s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain9{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain10{
    position: relative;
    top: 400px;
    left: 300px;
    animation-name: rain10;
    animation-duration: 3.8s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain10{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain11{
    position: relative;
    top: 500px;
    left: 331px;
    animation-name: rain11;
    animation-duration: 3.3s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain11{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain12{
    position: relative;
    top: 339px;
    left: 291px;
    animation-name: rain12;
    animation-duration: 3.1s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain12{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain13{
    position: relative;
    top: 250px;
    left: 200px;
    animation-name: rain13;
    animation-duration: 3.6s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain13{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain14{
    position: relative;
    top: 550px;
    left: -19px;
    animation-name: rain14;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain14{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain15{
    position: relative;
    top: 551px; 
    left: 170px;
    animation-name: rain15;
    animation-duration: 3.9s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain15{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain16{
    position: relative;
    top: 408px;
    left: 114px;
    animation-name: rain16;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain16{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain17{
    position: relative;
    top: 575px;
    left: 191px;
    animation-name: rain17;
    animation-duration: 3.7s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain17{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain18{
    position: relative;
    top: 463px;
    left: 61px;
    animation-name: rain18;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain18{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain19{
    position: relative;
    top: 342px;
    left: 10px;  
    animation-name: rain19;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;   
}
@keyframes rain19{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain20{
    position: relative;
    top: 397px;
    left: 20px;
    animation-name: rain20;
    animation-duration: 3.1s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain20{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain21{
    position: relative;
    top: 483px;
    left: 5px;
    animation-name: rain21;
    animation-duration: 3.8s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain21{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain21{
    position: relative;
    top: 482px;
    left: -5px;
    animation-name: rain21;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain21{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain22{
    position: relative;
    top: 489px;
    left: 10px;
    animation-name: rain22;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain22{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain23{
    position: relative;
    top: 350px;
    left: 20px;
    animation-name: rain23;
    animation-duration: 3.7s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;     
}
@keyframes rain23{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain24{
    position: relative;
    top: 510px;
    left: 12px;
    animation-name: rain24;
    animation-duration: 4.1s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain24{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain25{
    position: relative;
    top: 481px;
    left: 41px;
    animation-name: rain25;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain25{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain26{
    position: relative;
    top: 385px;
    left: -11px;
    animation-name: rain26;
    animation-duration: 3.6s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain26{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain27{
    position: relative;
    top: 263px;
    left: 20px;
    animation-name: rain27;
    animation-duration: 3.8s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain27{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain28{
    position: relative;
    top: 350px;
    left: 133px;
    animation-name: rain28;
    animation-duration: 3.7s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain28{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain29{
    position: relative;
    top: 423px;
    left: 123px;
    animation-name: rain29;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain29{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain30{
    position: relative;
    top: 200px;
    left: 20px;
    animation-name: rain30;
    animation-duration: 3.7s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
      
}
@keyframes rain30{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain31{
    position: relative;
    top: 250px;
    left: 20px;
    animation-name: rain31;
    animation-duration: 3.9s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain31{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain32{
    position: relative;
    top: 405px;
    left: 62px;
    animation-name: rain32;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain32{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain33{
    position: relative;
    top: 250px;
    left: 10px;
    animation-name: rain33;
    animation-duration: 3.8s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain33{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain34{
    position: relative;
    top: 300px;
    left: 20px;
    animation-name: rain34;
    animation-duration: 3.9s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain34{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain35{
    position: relative;
    top: 200px;
    left: 10px;
    animation-name: rain35;
    animation-duration: 3.1s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain35{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain36{
    position: relative;
    top: 100px;
    left: 10px;   
    animation-name: rain36;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;  
}
@keyframes rain36{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain37{
    position: relative;
    top: 187px;
    left: 108px;
    animation-name: rain37;
    animation-duration: 3.7s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain37{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain38{
    position: relative;
    top: 200px;
    left: 197px;
    animation-name: rain38;
    animation-duration: 3.6s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain38{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain39{
    position: relative;
    top: 81px;
    left:10px ;
    animation-name: rain39;
    animation-duration: 3.9s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain39{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain40{
    position: relative;
    top: 100px;
    left: 130px; 
    animation-name: rain40;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;    
}
@keyframes rain40{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain41{
    position: relative;
    top: 20px;
    left: 10px;
    animation-name: rain41;
    animation-duration: 3.8s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain41{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain42{
    position: relative;
    top: -64px;
    left: 5px;
    animation-name: rain42;
    animation-duration: 3.8s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain42{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain43{
    position: relative;
    top: 145px;
    left: 78px;
    animation-name: rain43;
    animation-duration: 3.9s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain43{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain44{
    position: relative;
    top: 52px;
    left: -35px;
    animation-name: rain44;
    animation-duration: 3.7s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain44{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain45{
    position: relative;
    top: 20px;
    left: 10px;
    animation-name: rain45;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain45{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain46{
    position: relative;
    top: 104px;
    left: 41px;
    animation-name: rain46;
    animation-duration: 3.3s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain46{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain47{
    position: relative;
    top: 20px;
    left: 30px;
    animation-name: rain47;
    animation-duration: 3.8s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain47{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain48{
    position: relative;
    top: 88px;      
    left: 83px;
    animation-name: rain48;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain48{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain49{
    position: relative;
    top: 66px;
    left: 264px;
    animation-name: rain49;
    animation-duration: 3.6s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain49{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain50{
    position: relative;
    top: 20px;
    left: 309px;
    animation-name: rain50;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain50{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain51{
    position: relative;
    top: -112px;
    left: 610px;
    animation-name: rain51;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain51{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain52{
    position: relative;
    top: 10px;
    left: -62px;
    animation-name: rain52;
    animation-duration: 3.9s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain52{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain53{
    position: relative;
    top: -34px;
    left: 1px;
    animation-name: rain53;
    animation-duration: 3.9s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain53{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain54{
    position: relative;
    top: -47px;
    right: 300px;
    animation-name: rain54;
    animation-duration: 3.1s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain54{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain55{
    position: relative;
    top: -71px;
    right: 715px;
    animation-name: rain55;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain55{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain56{
    position: relative;
    top: -123px;
    right: 500px;
    animation-name: rain56;
    animation-duration: 3.1s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain56{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain57{
    position: relative;
    top: 10px;
    right: 10px;
    animation-name: rain57;
    animation-duration: 3.6s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain57{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain58{
    position: relative;
    top: -98px;
    right: 769px;
    animation-name: rain58;
    animation-duration: 3.9s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain58{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain59{
    position: relative;
    top: -114px;
    right: 300px;
    animation-name: rain59;
    animation-duration: 3.9s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain59{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain60{
    position: relative;
    top: -122px;
    right: 558px;
    animation-name: rain60;
    animation-duration: 3.1s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain60{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain61{
    position: relative;
    top: -55px;
    right: 160px;
    animation-name: rain61;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;

}
@keyframes rain61{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain62{
    position: relative;
    top: -108px;
    right: 348px;
    animation-name: rain62;
    animation-duration: 3.8s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain62{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
#rain63{
    position: relative;
    top: 194px;
    left: 153px;
    animation-name: rain63;
    animation-duration: 3.9s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-in-out;
}
@keyframes rain63{
    0%{
        top: 0px;
    }
    100%{
        top: 550px;
    }
}
