body{
    background-image: linear-gradient(to right,#63d8de,#f19999 70%);
}
#container{
    background-color: #6e008699;
    height: 245px;
    width: 1127px;
    border: 0px solid blue ;
    border-radius: 0px;
    position:relative;
    left: 230px;
    top: 129px;
    padding-left: 10px;
    padding-top:10px ;
    margin-right: 10px;
    margin-top: 10px;
    }

    .box:hover{
        background-color: grey;
    }
   .box{
       background-color: whitesmoke;
        height: 220px;
        width: 41px;
        border: 1px solid grey;
        float: left;
        margin: 2px;
        border-radius: 5px;
        margin-top: 4px;
   } 
.blackbox{
    background-color: black;
    height: 157px;
    width:35 ;
    float: left;
    margin: 2px;
    border-radius: 5px;    
    margin-top: 4px;
}
h1{
    color: black;
    font-size:-webkit-xxx-large ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   position: relative;
   top: -81px;
   left: 392px;
}
#box1{
    position:relative;
}
#box2{
    position:relative;
    right: 30px;
    z-index:2;
}
#box3{
    position:relative;
    right: 59px;
    z-index: 2;
}
#box4{
    position:relative;
    right: 90px;
}
#box5{
    position:relative;
    right: 83px;
}
#box6{
    position:relative;
    right: 152px;
}
#box7{
    position:relative;
    right: 148px;
}
#box8{
    position:relative;
    right: 143px;
}
#box9{
    position:relative;
    right: 174px;
}
#box10{
    position:relative;
    right: 204px;
}
#box11{
    position:relative;
    right: 232px;
}
#box12{
    position: relative;
    right: 261px;
}
#box13{
    position: relative;
    right: 288px;
}
#box14{
    position: relative;
    right: 318px;
}
#black1{
    position:relative;
    right: 16px;
    z-index: 3;
}
#black2{
    position:relative;
    left: -45px;
    z-index: 3;
}#black3{
    position:relative;
    right: 75px;
    z-index: 3;
}#black4{
    position:relative;
    right: 151px;
    z-index: 3;
}
#black5{
    position:relative;
    right: 133px;
    z-index: 3;
}
#black6{
    position:relative;
    right: 165px;
    z-index: 3;
}
#black7{
    position:relative;
    right: 212px;
    z-index: 3;
}
#black8{
    position:relative;
    right: 189px;
    z-index: 3;
}
#black9{
    position:relative;
    right: 217px;
    z-index: 3;
}
#black10{
    position: relative; 
    right: 248px;
    z-index: 3;
}
#black11{
    position: relative;
    right: 274px;
    z-index: 3;
}
#black12{
    position: relative;
    right: 305px;
    z-index: 3;
}
.block{
    width: 307px;
    height: 255px;
    background-color: #f19999;
    border: 0px solid gold;
    position: relative;
    bottom: 126px;
    left: 1059px;
 
}








